<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -%msg%n" />
        </Console>
        <File name="File" fileName="logs/root.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%nn</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="tech.bmatch.meituan.Application" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRdf ref="File"/>
            <AppenderRdf ref="Console"/>
        </Root>
    </Loggers>
</Configuration>